.container {
  display: flex;
  width: 230px;
  height: 65px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  gap: 32px;
}

.icon {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
}

.text {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
}
